h1 {
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style:dotted ;
}
body {
    background-color: purple;
}
img {
    border-style: ridge;
}
.Box {
display: flex;
width: 300px;
border: 15px solid green;
padding: 50px;
margin: 20px;
text-shadow:2px 2px green;
color: white;
background-color: black;
<<<<<<< HEAD
}
=======
}






>>>>>>> a8b284b18fc5ecc3eb4363618c9a7a072da2f931
