h1 {
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style:dotted ;
}

body {
    background-color: purple;
}

img {
    border-style: ridge;
}


.Box {
display: flex;
width: 300px;
border: 15px solid green;
padding: 50px;
margin: 20px;
text-shadow:2px 2px green;
color: white;
background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

li {
    float: left;
    font-size: 20px;
  }
  
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
   li a:hover {
    background-color:rgb(0, 0, 0);
  }