body {
 background-image: url(https://media.istockphoto.com/photos/photo-of-red-running-track-for-competition-or-exercise-as-background-picture-id1055571426?k=6&m=1055571426&s=612x612&w=0&h=Ix5Ko-q2Fep_mc0tFXw6y4kvu27ihQp8xaijQCayrD4=);
 background-size: cover;
}

h1 {
    color: black;
}

ul {
    color: black;
    font-size: 18px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  } 
  p {
 color:black;
 font-size: 25px;
 background-color: purple;
  }

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}